body {
  margin: 0;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://preview.keenthemes.com/metronic/theme/html/demo3/dist/assets/media/bg/bg-1.jpg");
  background-size: cover;
  color: #fff;
}

.login-title {
  font-size: 2rem;
}
.login-subtitle {
  font-weight: 500;
  opacity: 0.7;
}
.login-form {
  width: 100%;
  max-width: 450px;
  padding: 1rem;
  margin-top: 3rem;
}
.login-input {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 0.8rem 1.4rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.login-input:focus {
  outline: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.login-input::-moz-placeholder {
  color: #dddddd;
}
.login-input:-ms-input-placeholder {
  color: #dddddd;
}
.login-input::placeholder {
  color: #dddddd;
}
.login-form-group {
  margin-bottom: 1.4rem;
}
.login-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0.8rem 3rem;
  border-radius: 20px;
  border: 1px solid #fff;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1;
}
.login-button:hover {
  background-color: #fff;
  color: #000;
}
